/* General Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

.content {
    width: 1440px;
    background: var(--4, #FFF);
    font-family: Gilroy;
}

.logo a .img{
    
}